* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;


}
html {
    scroll-behavior: smooth;
  }

body{
    background:linear-gradient(#43c6ac, #d5ffae);
    height: 100%;
}

/*Navigointi*/
nav{
    background-color: #5f5f5f94;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    color: #333333;
}

nav ul{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav ul a {
    font-size: 20px;
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    color: #333333;
}
nav ul a:visited {
    color: #333333;
}
nav ul a:hover {
    color: #fbfbfb;
    background: #33333378;
}

/*Header*/
header {
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 50%;
    margin-left: 50%;
    color: #fbfbfb;
}
header p{
     margin: 10px 0;
     font-size: 35px;
     width: 80%;
     animation: fadeUp 1.2s ease-in-out  forwards;
}
header h1{
    font-size: 66px;
    animation: fadeUp 0.4s ease-in-out  forwards;
}

header img {
    position: absolute;
    width: 25%;
    border-radius: 50%;
    left: 10%;
    animation: fadeSimple 1s ease-in-out  forwards;
}

/*Animaatio headerille*/
@keyframes fadeSimple {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Sisältö*/
main{
    width: 100%;
    background: #fbfbfb;
    padding: 5% 10%;
}
main h1{
    text-align: center;
    margin: 3em 0;
    font-size: 2.5em;    


}
main p {
    margin: 2em 0 5em 0;
    font-size: 1.2em;
}

/*column asetukset*/

.column h2{
    text-align: center;
    margin: 1px 0;
}
.column h3{
    text-align: center;
}
.column h4 {
    text-align: center;
}
.column{

    float: left;
    width: 46%;
    overflow: hidden;
    padding: 10px;
    margin: 0 1em;
    text-align: start;
}

#menuToggle {
    display:none;
}

/*Skaalaus*/
@media screen and (max-width: 960px) {

    nav{
        display: none;
        padding: 1.5em;

    }
    .column{
    width: 100%;
    }
    header img{
        position: inherit;
        top: 10%;
        margin: 20px;
        width: 60%;
    }
    header{
        position: inherit;
        display: block;
        margin: 0 auto;
        text-align: center;
        overflow: initial;
        height: 70%;
    
    }
    header p{
        text-align: center;
        margin: 0 auto;
    }
    table.koulu{
        width: 100%;
        margin: 3em 0;
        
    }
    .iconit{
        width: 100%;
    }
    /* MObnav */
    a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}
/*tyhjä väli*/
.vali{
    display: inline-block;
    height: 10px;
    width: 100%;
}

/*raja viiva*/
.raja{
    background: linear-gradient(-90deg, #43c6ac, #d5ffae);
    width: 98vw;
    height: 8px;
    margin: 50px 0;
    display: block;
    position: absolute;
    left: -0.1px;
    opacity: 0.3;
}

/*top painike*/
#myBtn {
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(138, 207, 202);
    color: #fbfbfb; 
    cursor: pointer; 
    padding: 10px 30px; 
    border-radius: 15px; 
    font-size: 1.5em; 
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.info {
    display: block;
    justify-content: center;
    text-align: center;
}
/*koulutus tiedot ja  kuvat*/
.koulu img {
    max-height: 8em;
    display: inline-block;
    margin-bottom: 3em;
    min-height: 6em;
    

}
.koulu{
    width: 30%; 
    display: inline-table;
    text-align: center;
    overflow: hidden;
    padding: 1px;
    min-height: 35px;
    margin: 20px 2px;
}

table, tr, td {
    width: 29%;

}  

/*Footer*/
footer {
    height:5em;
    background-color: linear-gradient(#d5ffae, #43c6ac);
    width: 100%;
    text-align: center;
    color: #333333;
    margin: 0 auto;
}
footer p{
    padding: 5em;
}

.iconit{
    font-size: 5em; 
    text-align:center;
    display: inline-table; 
    width: 20%;
    overflow: hidden;
    margin:37px 33px;
}